﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ContactUs.aspx.cs" Inherits="ContactUs" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table width="500px" align="center">
         <tr>
            <td align="center" style="height:20px;"> </td>
        </tr>
        <tr>
            <td align="center"> <h2 style="color:Maroon;text-decoration:underline;"> Office Contact </h2></td>
        </tr>
        <tr>
            <td align="center" style="font-weight:bold;"> <p> 3rd Floor Jaiswaal Complex</p>
            <p> Sakchi, Jamshedpur</p>
            <p> Phone No: 0657-6546762, 2442860, 9234600165, 9431522945</p> 
            <p>Email: mobilebazar@gmail.com       </p>
            </td>
        </tr>
    </table>

</asp:Content>

