﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Nokia.aspx.cs" Inherits="Nokia" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      <table width="500px" align="center">
        <tr>
            <td align="center"> 
                <asp:Image ID="Image1" runat="server" ImageUrl="~/images/nokia1.jpg" />
            </td>
        </tr>
     
    </table>
</asp:Content>

